body {
    background-color: #E2E2E2;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.slide {
    position: relative;
    width: 70vw;
    height: 38vw;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 2%;
    background-color: white;
    border-radius: 10px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: move;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #00B0F0;
    color: #f0f0f0;
    border: solid #00B0F0;
    border-radius: 5px;
}

button:hover {
    background-color: #2e82ff;
    transition: background-color 0.4s;
}